<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="37" android:versionName="5.2.2" package="com.vectorlit.genconevents" android:installLocation="auto">
	<uses-sdk android:targetSdkVersion="28" android:minSdkVersion="19" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Unofficial Gen Con 2019" android:icon="@drawable/cm_launcher" android:theme="@android:style/Theme.Material.Light"></application>
</manifest>